<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EnrollmentSystem_prototype.My.MySettings.csConnectionString"
            connectionString="server=localhost;user id=root;password=asd098qwe9ijmjy6;persistsecurityinfo=True;database=cs"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>